:root {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 2rem;
  margin: 0 auto;
  font-family: sans-serif;
  max-width: 60rem;
}

#input {
  height: 20rem;
  width: 100%;
  max-width: calc(100vw - 2rem);
  padding: 1rem;
  white-space: pre;
  border-radius: 0.375rem;
}

#output {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
#output.invalid {
  font-size: 3em;
}
li {
  margin-bottom: 0.5em;
}

.code {
  padding: 1rem;
  background-color: rgb(43, 43, 43);
  color: white;
  border-radius: 0.5rem;
}
